version: "3"
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://mongo:27017/wanderlust
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
