name: Docker CI Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    # 1️⃣ Checkout repository
    - uses: actions/checkout@v4

    # 2️⃣ Build Docker Image
    - name: Build Docker Image
      shell: powershell
      run: |
        docker build -t backend-airnb .

    # 3️⃣ Stop & Remove Old Container (Safe)
    - name: Stop and Remove old container safely
      shell: powershell
      run: |
        if (docker ps -a --format "{{.Names}}" | Select-String "backend-airnb") {
            docker stop backend-airnb
            docker rm backend-airnb
        }

    # 4️⃣ Run New Container with GitHub Secrets
    - name: Run new container
      shell: powershell
      run: |
        docker run -d -p 3000:3000 `
          -e CLOUD_NAME="${{ secrets.CLOUD_NAME }}" `
          -e CLOUD_API_KEY="${{ secrets.CLOUD_API_KEY }}" `
          -e CLOUD_API_SECRET="${{ secrets.CLOUD_API_SECRET }}" `
          -e ATLASDB_URL="${{ secrets.ATLASDB_URL }}" `
          -e SECRET="${{ secrets.SECRET }}" `
          --name backend-airnb backend-airnb
