name: Docker CI Deployment

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    # 1️⃣ Checkout Repository
    - uses: actions/checkout@v4

    # 2️⃣ Build Docker Image
    - name: Build Docker Image
      shell: powershell
      run: |
        docker build -t backend-airnb .

    # 3️⃣ Stop Old Container (if exists)
    - name: Stop old container safely
      shell: powershell
      run: |
        $container = docker ps -a --format "{{.Names}}" | Select-String "backend-airnb"
        if ($container) {
            docker stop backend-airnb
        }

    # 4️⃣ Remove Old Container (if exists)
    - name: Remove old container safely
      shell: powershell
      run: |
        $container = docker ps -a --format "{{.Names}}" | Select-String "backend-airnb"
        if ($container) {
            docker rm backend-airnb
        }

    # 5️⃣ Run New Container
    - name: Run new container
      shell: powershell
      run: |
        docker run -d -p 3000:3000 --name backend-airnb backend-airnb
