name: Node.js CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Backup .env
      run: |
        mkdir -p ./temp
        if [ -f .env ]; then mv .env ./temp/env_backup; fi

    

    - name: Restore .env
      run: |
        if [ -f ./temp/env_backup ]; then mv ./temp/env_backup .env; fi
       
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm ci

    - run: npm run build --if-present

    - run: pm2 restart backend
